body {
    background-image: url("webb.png");
    max-width: 800px;
    margin:24px auto;
}
h1 {
    color: cornflowerblue;
}
h2 {
    background-color: grey;
    color: whitesmoke;
    display: inline-block;
}
h3 {
    color:white;
    text-align: center;
    background-color: orangered;
}
p {
    color:grey;
}
img {
    float: left;
}
aside {
    float: right;
}
footer {
    text-align: center;
    color: gray;
}